<!DOCTYPE html>
<html lang="en">
<head>
    <title>case01</title>
</head>
<style>
    .title {
        font-size:50px;
        color: red;
    }

</style>
<body>
<div id="app">
    <h1>{{message}}</h1>
    <ul>
        <li v-for="item in movies">{{item}}</li>
    </ul>
    <h1>当前计数:{{counter}}</h1>
    <button v-on:click="counter++">+</button>
    <button v-on:click="counter--">-</button>
    <button v-on:click="add">+</button>
    <button v-on:click="sub">-</button>
    <h1 v-html="url"></h1>
    <h2 v-text="message"></h2>
    <h2 v-bind:class="{active: isActive, line:isLine}">动态决定变量</h2>
    <button v-on:click="btnClick">点击变换</button> <br/>
    <a v-bind:href="ahref">百度一下</a>
    <h2 v-pre>{{不用框架解析}}</h2>
    <h2 :style="{fontSize: finalSize}">接下来是for循环</h2>
    <h2>{{fullName}}</h2>
    <h2>{{fullName02}}</h2>
    <ul>
        <li v-for="(m, index) in movies">
            {{index}} {{m}}
        </li>
    </ul>

    <h1>@click.prevent阻止默认事件</h1>
    <form action="action">
        <input type="submit" value = "提交" @click.prevent="submitClick" />
    </form>
    <!-- 监听所有按键 -->
    <input type="text" @keyup="keyup" >
    <!-- 监听回车 -->
    <input type="text" @keyup.enter="keyup" >
    <button @click.once="doThis" value="只触发一次"></button>


    
    <!-- 或者用v-bind就变为绑定变量-->
    <img :src="imgURL" alt="">
</div>
<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<script>

    const app = new Vue({
        el: '#app',
        data: {
            message: "hello word",
            movies: ['海贼王', '火影忍者', '圣枪修女', '大剑'],
            counter: 0,
            url: '<a href="https://www.baidu.com">百度一下</a>',
            ahref: "https://www.baidu.com",
            isActive: true,
            isLine: true,
            finalSize: '100px',
            firstName: 'yang',
            lastName: 'zl',
            imgURL: 'https://img12.360buyimg.com/seckillcms/s280x280_jfs/t1/150750/4/9773/195909/5fcf56feEbb769fa2/f40280e1b9f1cb18.jpg.webp'
        },
        //计算属性是有缓存的,放这里效率高,而method是没有缓存的
        computed: {
            //fullName本质是下面fullName02的get函数
            fullName: function() {
                return this.firstName + ' ' + this.lastName
            },
            //通常我们不用写set,若将其删除就是一个只读属性
            fullName02: {
                set: function(newValue){

                },
                get: function() {
                    return "abcdedf";
                }
            }
        },
        methods: {
            add: function() {
               this.counter++
            },
            sub: function() {
                this.counter--;
            },
            btnClick: function() {
                this.isActive = !this.isActive
            },
            submitClick: function() {
                console.log("自己的提交点击事件")
            },
            keyUp() {
                console.log("keyUp");
            }
        },
    })
</script>
</body>
</html>